<ul class="hmenu">
  <% if @user %>
  <li>
    <%= button_to 'Edit registration', edit_user_registration_path, method: :get %>
  </li>
  <li>
    <%= button_to 'Logout', destroy_user_session_path, method: :delete %>        
  </li>
<% else %>
  <li>
    <%= link_to 'Register', new_user_registration_path, class: 'registration-button' %>
  </li>
  <li>
    <%= link_to 'Login', new_user_session_path, class: 'registration-button', remote: true  %>  
  </li>
<% end %>
</ul>

<%= render "new_user_session" %>