<!DOCTYPE html>
<html>
<head>
  <title>Meditation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @user %>
  <%= render "layouts/header" %>
<% end %>

<% unless success.nil? %>
    <div class="flash-success">
      <span><%= success %></span>
    </div>
<% end %>

<% unless error.nil? %>
    <div class="flash-error">
      <span><%= error %></span>
    </div>
<% end %>

<% unless notice.nil? %>
    <div class="flash-notice">
      <span><%= notice %></span>
    </div>
<% end %>

<% unless alert.nil? %>
    <div class="flash-alert">
      <span><%= alert %></span>
    </div>
<% end %>

<%= yield %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= yield :page_scripts %>
</body>
</html>
